<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" style="float: right;" (click)='openAddUpdateDialog()'>Add
      Employee</button>
  </div>
  <h1>Employee List</h1>
  <div class="example-header">
    <mat-form-field>
      <input matInput #Filter (keyup)="applyFilter(Filter.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone No </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="width: 15em !important;">
        Actions
      </th>
      <td mat-cell *matCellDef="let element" style="width: 15em !important;">
        <i class="material-icons" style="cursor: pointer;color:black" matTooltip="Update"
          (click)='openAddUpdateDialog(element)'>edit</i> &nbsp;
        <i class="material-icons" style="color:red !important;cursor: pointer" (click)='deleteEmployee(element._id)'
          matTooltip="Delete">delete</i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>